<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-3">
                <h4 class="footert1">Solutions</h4>
                <p><a href="/overseas/developer?id=2" class="f1textt2">Lopscoop for Publishers</a></p>
                <p><a href="/overseas/adhost?id=3" class="f1textt1">Lopscoop for Advertisers</a></p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-9">
                <h4 class="footert1">Business Cooperation</h4>
                <p class="yellow-title">China Office Address</p>
                <p class="address">409 Room , Block 1, Sunplus Building, 1077 Zuchongzhi Road, Pudong New Area, Shanghai, China (201203)</p>
                <p class="f3textt2"> <span>Tel:</span> 02158377912</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-7">
                <h4 class="footert1"></h4>
                <p class="yellow-title">India Office Address</p>
                <p class="address">Third Floor, D-56, D Block, Sector 2, Noida, Uttar Pradesh 201301 India</p>
                <p class="f3textt2"> <span>Tel:</span>+91 120 416 0887</p>
                <p class="f3textt2"> <span>WhatsApp:</span>+8613681940595</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-5">
               <h4 class="footert1">Follow us</h4>
               <ul class="social-links circle animated-effect-1">
                    <li class="facebook gzwm-style">
                        <a target="_blank" href="https://www.facebook.com/LopscoopOfficial/">
                            <img src="http://charm.uamazed.com/moppomobi/images/facebook.png" alt="facebook">
                        </a>
                    </li>
                    <li class="linkedin gzwm-style">
                        <a target="_blank" href="https://www.linkedin.com/company/lopscoop/">
                         <img src="http://charm.uamazed.com/moppomobi/images/in.png" alt=""></a>
                    </li>
                    <li class="gzwm-style wx-gz">
                         <img src="http://charm.uamazed.com/moppomobi/images/weixin.png" alt="">
                         <div style="width:100px;height:100px;position:absolute;display:none;" class="wx-ewmbottom" data-flag='true'><img src="http://charm.uamazed.com/moppomobi/images/wxewm.jpg" alt="" style="width:100%;height:auto;display:block;margin-top:10px;"></div>
                    </li>
               </ul>
            </div>
        </div>
    </div>
</footer>
<script src="http://charm.uamazed.com/moppomobi/js/jquery.min.js"></script>
<script src="http://charm.uamazed.com/moppomobi/js/bootstrap.min.js"></script>
<script src="http://charm.uamazed.com/moppomobi/js/index.js"></script>