<!--导航-->
<nav class="navbar navbar-default navbar-fixed-top1 navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" style="border: 1px solid transparent;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/overseas/"><img alt="logo" src="http://charm.uamazed.com/moppomobi/images/logo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/overseas/?id=1" class="nav_base">Home</a></li>
                <li><a href="/overseas/developer?id=2" class="nav_ssp"> Publishers</a></li>
                <li><a href="/overseas/adhost?id=3" class="nav_adx"> Advertisers</a></li>
                <li><a href="/overseas/platform?id=4" class="nav_dmp"> Products & Technologies</a></li>
                <li><a href="/overseas/company?id=5" class="nav_dmp">About US</a></li>
                <li><a href="/overseas/new?id=6" class="nav_dmp">News</a></li>
                <li id="language-change">
                    <a href="/overseas" class="btn lang_btn current">EN</a>
                    <a href="/" class="btn lang_btn">中</a>
                </li>
            </ul>
        </div>
    </div>
</nav>