<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords" content="lopscoop"/>
    <meta name="description" content="lopscoop"/>
    <meta name="author" content="lopscoop">
    <link rel="icon" href="http://charm.uamazed.com/moppomobi/images/favicon.ico">
    <title>lopscoop</title>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/swiper.min.css">
    <link  rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/layout.css"/>
</head>
<body>
<%- include('header.ejs') %>
<!--导航end-->
<!-- 新轮播图 -->
<div class="container-fluid banner-container" style="position:relative">
    <div class="swiper-container" id="bannerSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide banner-list">
               <img src="http://charm.uamazed.com/moppomobi/images/banner.jpg" alt="" class="baner-swiper">
               <div class="lop-mig">The globally leading, Indian No.1 provider of platform solution of Content Affiliate </div>
            </div>
            <div class="swiper-slide banner-list">
                <img src="http://charm.uamazed.com/moppomobi/images/banner2.jpg" alt="" class="baner-swiper">
                <div class="lop-mig">Abundant Indian native contents reaching users directly and correctly  </div>
            </div>
            <div class="swiper-slide banner-list">
                <img src="http://charm.uamazed.com/moppomobi/images/banner3.jpg" alt="" class="baner-swiper">
                <div class="lop-mig">Creative user-fission SDK, realizing fission of both users and advertising revenues</div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white" style="left:42px"></div>
        <div class="swiper-button-next swiper-button-white" style="right:42px"></div>
    </div>
</div>
<div class="quick-entry quick-entry2 is-sticky">
    <div class="container">
        <div class="col-lg-4 col-sm-4 col-xs-4 entryitem">
            <div class="itemwrap2">
                <a href="javascript:void(0)" class="item item02 scroll">
                    <img src="http://charm.uamazed.com/moppomobi/images/content.png" alt="">
                    <h4 class="t2">Rich Content</h4>
                    <div class="quick-font">100 editors、100k+ Indian native news、1000+influencers </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4 entryitem">
            <div class="itemwrap2">
                <a href="javascript:void(0)"  class="item item01 scroll no">
                    <img src="http://charm.uamazed.com/moppomobi/images/gexing.png" alt=""  style="width:60px;">
                    <h4 class="t1">Customization</h4>
                    <div class="quick-font">Patent AI、Vary with different people、Big data analysis</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4 entryitem">
            <div class="itemwrap2">
                <a href="javascript:void(0)"  class="item item03 scroll">
                    <img src="http://charm.uamazed.com/moppomobi/images/jieyue.png" alt="" style="width:60px;">
                    <h4 class="t3">Saving costs</h4>
                    <div class="quick-font">No need for content operation team、tech team and marketing team</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="ssppart" class="jumbotron adx-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 pull-right">
                <div class="common-box">
                    <h1 class="t5">Fast data access</h1>
                    <div class="para t5content">3 accessing ways offered by Lopscoop: SDK、H5 and API.
                        It is able to access in 2 hours greatly improving work efficiency with simplicity.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-responsive ssp-img" src="http://charm.uamazed.com/moppomobi/images/shujuen.png" alt="">
            </div>
        </div>
    </div>
</div>
<div id="adxpart" class="ssp-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ssp-inner-content text-left">
                    <div class="ssp-title"><h1 class="t4">Public opinion monitoring</h1></div>
                    <div class="para t4content">Intelligently detecting all kinds of hot news in India helps pushing hot content from the whole internet in real time and thus no hot and interesting news would be missed by users.</div>
                </div>
            </div>
            <div class="col-md-6"><img class="img-responsive adx-img" src="http://charm.uamazed.com/moppomobi/images/yuqingen.png" alt=""></div>
        </div>
    </div>
</div>
<div id="dmppart" class="jumbotron dmp-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-right">
                <div class="common-box">
                    <h1 class="t5">Doubled Monetizing Revenue</h1>
                    <div class="para t6content">Lopscoop SDK integrates the third generation advertising system encouraging users to read and share content and thus increase the impressions and hits of ads. Meanwhile the ISPs gain shared ad revenues through the channel number.</div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive dmp-img" src="http://charm.uamazed.com/moppomobi/images/bianxianen.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="friend">
    <div class="container" style="position:relative">
        <h1 class="friendtitle">Official Partners</h1>
        <div class="swiper-container" id="friendswiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="friend-box">
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/adtiming.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/asus.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/baidu.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/cheet.png" alt=""></li>
                    </ul>
                    <ul class="friend-box friend-box-second">
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/gionee.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/google.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/instagnam.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/jio.png" alt=""></li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="friend-box">
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/karbonn.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/lava.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/lenovo.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/micromax.png" alt=""></li>
                </ul>
                    <ul class="friend-box friend-box-second">
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/nokia.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/oppo.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/paytm.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/samsung.png" alt=""></li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="friend-box">
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/tcl.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/tran.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/vivo.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/wifi.png" alt=""></li>
                </ul>
                <ul class="friend-box friend-box-second">
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/yeah.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/yijia.png" alt=""></li>
                        <li class="friend-box-con"><img src="http://charm.uamazed.com/moppomobi/images/partner/youTube.png" alt=""></li>
                </ul>
                </div>
            </div>
        </div>
       <div class="swiper-pagination swiper-friendPage" style="display:none;"></div>
       <div class="swiper-button-prev"></div>
       <div class="swiper-button-next"></div>
    </div>
</div>
<div class="float-image">
    <div class="wx-slide" data-flag="true"><a href="whatsapp://send?phone=918448691353"><img src="http://charm.uamazed.com/moppomobi/images/wapp.png" alt=""></a></div>
    <div class="back-to-top"><img src="http://charm.uamazed.com/moppomobi/images/top.png" alt=""></div>
</div>
<%- include('bottom.ejs') %>
<script src="http://charm.uamazed.com/moppomobi/js/swiper.min.js"></script>
<script>
    var mySwipe1 = new Swiper ('#bannerSwiper', {
        direction: 'horizontal',
        autoplay : 3000,
        loop: true,
        paginationClickable: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
    var mySwipe2 = new Swiper ('#friendswiper', {
        direction: 'horizontal',
        loop: true,
        pagination: '.swiper-friendPage',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
</script>
</body>
</html>



