<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords" content="lopscoop"/>
    <meta name="description" content="lopscoop"/>
    <meta name="author" content="adview">
    <link rel="icon" href="http://charm.uamazed.com/moppomobi/images/favicon.ico">
    <title>lopscoop</title>
    <link  rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/layout.css"/>
</head>
<body style=" background:#f4f4f4;">
<%- include('header.ejs') %>
<div class="container new-container">
    <div class="row">
        <div class="col-md-12 col-sm-12  new-con">
            <ul class="ui-change-line">
                <li>
                    <a class="newslink" href="/overseas/newdetail">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-4 col-xs-5 newspicture">
                                <div class="newpicbox"><img src="http://charm.uamazed.com/moppomobi/images/newcover.jpg" style="width: 100%;"/></div>
                            </div>
                            <div class="col-md-8 col-xs-7">
                                <div  class="action_content">APP business developing in India can not monetize? Lopscoop Content Affiliate serves as the ultimate solution.</div>
                                <div class="action_time"> 2018-6-13 15:05</div>
                                <div class="ui-p-css">India is an emerging market of internet and because of the great number of internet users and the ever-increasing internet market scale, many internet companies in China have developed their business in India looking forward to taking a place in India.</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('bottom.ejs') %>
</body>
</html>



