<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords" content="lopscoop"/>
    <meta name="description" content="lopscoop"/>
    <meta name="author" content="adview">
    <link rel="icon" href="http://charm.uamazed.com/moppomobi/images/favicon.ico">
    <title>lopscoop</title>
    <link  rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/layout.css"/>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/overseas/productServer.css"/>
    <style>
    body{background: #f3f3f3;}
    .is-sticky.stuck {position: fixed;top: 58px;left: 0;width: 100%;background: #fff;z-index: 1; padding-top:5px;padding-bottom:0;}
    </style>
</head>
<body>
<%- include('header.ejs') %>
<div class="ui-plat-index ui-index-unifyCss container" style="padding-top:65px">
    <div class="row">
        <div class="ui-plat-top ui-index-unifyCss">
            <div class="lop-logo">
                <img src="http://charm.uamazed.com/moppomobi/images/productServer/lopscoop.png" alt="" style="display:block;margin:0 auto;">
                <p class="lop-logfont">A globally leading Indian content Affiliate Service Solution Platform</p>
            </div>
        </div>
        <div class="ui-plat-nav is-sticky clearfix">
            <div class="active commonbtn dspBtn">DSP</div><div class="commonbtn sspBtn">SSP</div>
        </div>
        <div class="ui-plat-infos ui-index-unifyCss clearfix">
            <div class="active commoncontent ui-plat-dsp">
                <div class="ui-top-dsp"><p>DSP<label>(Demand Side Platform)</label></p></div>
                <ul>
                    <li><p>Simple and effective way of mobile advertisement and mobile traffic accessing</p></li>
                    <li><p>Pre-emption, private bidding and open bidding are supported under the mode of RTB and the real-time bidding and non-real-time bidding are compatible.</p></li>
                    <li><p>Guarantee effectiveness of both brand advertising and performance advertising</p></li>
                    <li><p>One-stop access: 10k+mobile software developers, 6 billion times of ad impression from 200k+ applications every day</p></li>
                    <li><p>Covering 80 million Indian smartphones every day</p></li>
                    <li><p>Multi-dimensional ad frequency capping </li>
                    <li><p>Matching precisely to terminal traffic according to the formats of ads</p></li>
                    <li><p>Comprehensive audience analysis helps fully understand every ad demand of the terminal and push every ad precisely truly realizing the bonus of the era of "information finding people"</p></li>
                </ul>
            </div>
            <div class="commoncontent ui-plat-ssp">
                <div class="ui-top-ssp"><p>SSP<label>(Supply Side Platform)</label></p></div>
                <ul>
                    <li><p>Convenient and high-value way of content monetizing and SDK with user self-growth engine can not only realize monetization but also lead to the user self-propagation and user self-growth.</p></li>
                    <li><p>One-stop accessing to globally leading mobile advertising platform（Facebook Audience Network，Admob）</p></li>
                    <li><p>Rich advertisement formats: banner ads、screen ads、opening ads、native ads</p></li>
                    <li><p>Ad delivering speed with millisecond precision ensures the ad impression revenue Secondary propagation doubles the revenue sharing the ad revenue with users.</p></li>
                    <li><p>Ensuring eCPM based on big data analysis、Profile matching and RTB transactional model</p></li>
                    <li><p>Independent and transparent report settlement</p></li>
                    <li><p>Integration of  the most advanced technology （API、SDK，H5）</p></li>
                    <li><p>The only access platform of content information flow in India, 19 Indian local languages, updating 100k+ copyrighted content every day, bringing together all kinds of hot contents of entertainment、sports、relationships、humor and so on in India</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 合作伙伴 -->
<%- include('bottom.ejs') %>
</body>
</html>



