<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords" content="lopscoop"/>
    <meta name="description" content="lopscoop"/>
    <meta name="author" content="lopscoop">
    <link rel="icon" href="http://charm.uamazed.com/moppomobi/images/favicon.ico">
    <title>lopscoop</title>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/layout.css"/>
    <title>lopscoop</title>
    <style type="text/css">
    .lop-404 {background-color: #fff;border-left: 1px solid #DCDCDC;border-right: 1px solid #DCDCDC;margin-top: 68px;min-height: 600px;
     }
    .lop-content{font-size:30px;line-height:400px;text-align:center;}
    @media screen and (max-width:756px) {
          .lop-404 {min-height:480px;margin-top: 50px;}
          .lop-content{font-size:20px;line-height:400px;text-align:center;}
    }
    </style>
</head>
<body style="background:#f3f3f3">
<%- include('header.ejs') %>  
<div class="container lop-404"><p class="lop-content">网站正在维护升级！请稍后重试哦！</p></div>
<%- include('bottom.ejs') %> 
</body>
</html>

