<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords" content="lopscoop"/>
    <meta name="description" content="lopscoop"/>
    <meta name="author" content="lopscoop">
    <link rel="icon" href="http://charm.uamazed.com/moppomobi/images/favicon.ico">
    <title>lopscoop</title>
    <link  rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://charm.uamazed.com/moppomobi/css/layout.css"/>
</head>
<body>
<!--导航-->
<%- include('header.ejs') %>
<!--导航end-->
<div class="container new-container">
    <div class="row">
        <div class="col-md-12 col-sm-12  new-con">
                <ul class="ui-change-line">
                    <li>
                        <a class="newslink" href="/newdetail">
                            <div class="row" style="margin: 0;">
                                <div class="col-md-4 col-xs-5 newspicture">
                                    <div class="newpicbox">
                                        <img src="http://charm.uamazed.com/moppomobi/images/newcover.jpg" style="width: 100%;"/>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-7">
                                    <div  class="action_content">出海印度APP，无法变现？Lopscoop内容网盟提供终极解决方案</div>
                                    <div class="action_time">2018-6-13</div>
                                    <div class="ui-p-css">印度是互联网新兴市场，众多国内互联网公司都看好印度海量互联网用户与不断增长的互联网用户市场，纷纷出海印度，准备在印度这片蓝海中占据自己的位置</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>
<%- include('bottom.ejs') %>
</body>
</html>



